.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


li {
  white-space: nowrap;
  display: flex;
}

ul {
  list-style-type: none;
}

.Roles {
  position: absolute;
  border: 2px solid white;
  left: 60%;
  padding: 0;
  margin: 0;
}

.Roles li {
  display: block;
  padding: .5rem;
  text-align: start;
}
.Roles p {
  /* padding: 0; */
  margin: 0;
}

.Dialog {
  background-color: #212121;
  display: block;
  text-align: center;
  width: 50%;
  height: 50%;
  position: fixed;
  z-index: 10;
  border-radius: 25px;
}

.Dialog button {
  outline: none;
  border: 2px solid white;
  border-radius: 15px;
  background: none;
  color: white;
  font-size: 5rem;
  margin: 1rem;
  width: 40%;
  cursor: pointer;
}

.employee {
  background-color: #212121;
  border-radius: 15px;
  margin: .5rem;
  padding: .5rem;
  width: 100%;
}

.employee p {
  padding: .25rem;
}

.employee h1 {
  margin: auto;
}